#navList{
  list-style-type: none;
  margin:0;
  padding:0;
  overflow: hidden;
  background-color: #333;
}
li{
  float: left;
}
.firstElement{
  margin-left: 50px;
  font-size:larger;
}
li a{
  display:block;
  color:#CCCCCC;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: large;
}

#h1Heading{ 
  display: inline-block;  
}
#secondaryText{
  color: #333333;
  font-weight: 180;
  color:#CCCCCC;

}
.pageHeading{
  display: flex;
  margin-left: 60px;
}
.row{
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.column{
  float: left;
  max-width: 100%;
  width: 25%;
  padding: 47px;
  margin-bottom: -7%;
}

.gridMain{
  margin-right: 60px;
  margin-left: 60px; 
}

.imageGray{
  background-color: #f1f1f1;
  width: 320px;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 140px;
}
.footer1{
  padding:100px;
}
/*
@media screen and (max-width: 600px) {
  .column {
    width: 50%;
    display: block;
    padding: 0;
  }
}

@media screen and (max-width: 1350px) {
  .column {
    width: 75%;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}
*/