#navList{
  list-style-type: none;
  margin:0;
  padding:0;
  overflow: hidden;
  background-color: #222222;
}
li{
  float: left;
}
.firstElement{
  margin-left: 50px;
  font-size:larger;
}
li a{
  display:block;
  color:#CCCCCC;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: large;
}

#h1Heading{ 
  display: inline-block;  
}
.secondaryText{
  color: #CCCCCC;
  font-size: 20px;
  margin-left: 5px;
  font-family: sans-serif;
}
.pageHeading{
  padding-top: 30px;
  margin-left: 110px;
}
.row{
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.column{
  float: left;
  max-width: 100%;
  width: 25%;
  padding: 47px;
  margin-bottom: -7%;
}

.gridMain{
  margin-right: 110px;
  margin-left: 90px; 
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: space-around;
  grid-gap: 40px;
}
.card{
  padding-left: 5%;
}
.imageGray{
  background-color: #CCCCCC;
  max-width: 350px;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 200px;
}
.footer{
  margin-top: 3%;

}


@media screen and (max-width: 600px) {
  .gridMain {
    width: 50%;
    display: block;
    padding: 0;
  }
}

@media screen and (max-width: 1350px) {
  .gridMain{
    width: 75%;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}
